.pagiation {
  font-size: 18px;
  border: 1px solid;
  padding: 7px 10px;
  margin-left: 10px;
  margin-bottom: 25px;
  max-width: 40px;

  &:hover,
  &:focus {
    background-color: black;
    color: white;
  }
}
.active {
  background-color: black;
  color: white;
  transition: 0.3s;
}
