a {
  text-decoration: none;
  color: #919191;
  &:hover {
    text-decoration: underline;
  }
}
.cart {
  margin-bottom: 130px;

  .cupon {
    display: flex;
    flex-direction: row;
    margin-bottom: 90px;
    position: relative;
    input {
      position: relative;
      outline: none;
      border: none;
      border-bottom: 1px solid #000000;
      max-width: 255px;
      text-align: start;
      margin-right: 16px;
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      letter-spacing: 0.02em;
      color: #000000;
      &::placeholder {
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: #868686;
      }
    }
    .cupon_btn {
      font-weight: 400;
      font-size: 17px;
      line-height: 138.9%;
      text-align: center;
      letter-spacing: 0.02em;
      color: #6e9c9f;
      padding: 22px 50px;
      outline: none;
      border: 1px solid #6e9c9f;
      background-color: transparent;
    }
    .cupon_error {
      display: block;
      position: absolute;
      left: 0;
      bottom: -50px;
      border-bottom: 1px solid red;
      color: red;
      max-width: 1100px;
      font-size: 17px;
      line-height: 138.9%;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }
  .shop_link {
    margin-bottom: 214px;
  }

  .ol_name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 50px;
    li:first-child {
      margin-left: 70px;
      padding-right: 336px;
    }
    li:last-child {
      margin-right: 99px;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 46px;
      left: 0;
      background-color: #cccccc;
      height: 1px;
      width: 100%;
    }
    li {
      &:nth-child(2) {
        transform: translateX(-70%);
      }
    }
  }
}

.end_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  .end_price {
    background: #f1eadc;
    width: 287px;
    height: 68px;
    padding: 16px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    .end_price_price {
      margin-right: 20px;
    }
  }
  .end_info_btn {
    cursor: pointer;
    background: #6e9c9f;
    width: 287px;
    height: 68px;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    border: none;
  }
}
