a {
  text-decoration: none;
  color: #919191;
  &:hover {
    text-decoration: underline;
  }
}
.cart {
  margin-bottom: 130px;
  .shop_link {
    margin-bottom: 214px;
  }

  .ol_name {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 50px;
    li:first-child {
      margin-left: 70px;
      padding-right: 336px;
    }
    li:last-child {
      margin-right: 99px;
    }
    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 46px;
      left: 0;
      background-color: #cccccc;
      height: 1px;
      width: 100%;
    }
  }
}

.basketBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 205px;
  margin-bottom: 10px;

  .delete {
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      transform: translate(50%);
      display: block;
      content: '';
      width: 12px;
      height: 1px;
      background-color: #000000;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translate(50%);
      display: block;
      content: '';
      width: 12px;
      height: 1px;
      background-color: #000000;
      transform: rotate(-45deg);
    }
  }
  .basket_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
  }
  .img {
    display: block;
    width: 136px;
    height: 205px;
    float: left;
    object-fit: cover;
  }
  .name {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
  }
  .price {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
    padding-left: 60px;
  }
  .count {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
    transform: translate(50%);
    padding: 10px 20px;
    border: 1px solid #afafaf;
  }
  .sum {
    margin-right: 99px;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
  }
}

.end_info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  .end_price {
    background: #f1eadc;
    width: 287px;
    height: 68px;
    padding: 16px 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    .end_price_price {
      margin-right: 20px;
    }
  }
  .end_info_btn {
    cursor: pointer;
    background: #6e9c9f;
    width: 287px;
    height: 68px;
    color: #ffffff;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
  }
}
