.shop {
  margin: 130px 0;
  position: relative;
  .shop_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 92px;
    gap: 10px;
    .shop_item {
      padding: 19px 65px;
      border: 1px solid;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      &:hover,
      &:focus,
      &:active {
        color: white;
        background: black;
        transition: 0.3s;
      }
    }
  }
}

.shop_items_show {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #808080;
  margin-bottom: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shop_row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.shop_item_active {
  color: white;
  background: black;
}

.select {
  width: 230px;
  height: 50px;
  text-align: center;
  transform: translateY(100%);
  appearance: none;
  font-size: 24px;
  outline: none;
  margin-bottom: 100px;
  background-color: transparent;
  font-weight: 500;
  line-height: 19px;
  color: #000000;
  border: 1px solid;
  box-sizing: border-box;
  .select_option {
    display: flex;
    align-items: center;
    border-top-width: 1px;
    width: 100%;
    height: 100%;
    padding: 8px 16px;
    &:hover {
      background-color: #6e9c9f;
    }
  }
}
a {
  text-decoration: none;
  color: #919191;
  &:hover {
    text-decoration: underline;
  }
}
