.shop {
  margin: 130px 0;
  .shop_list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-bottom: 92px;
    gap: 10px;
    .shop_item {
      padding: 19px 65px;
      border: 1px solid;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      transition: 0.4s all;
      &:hover,
      &:focus,
      &:active {
        color: white;
        background: black;
      }
    }
  }
}
