.title {
  margin-bottom: 26px;
}
.product_main {
  margin-bottom: 120px;
}
.way {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: #919191;
  margin-bottom: 102px;
  a {
    text-decoration: none;
    color: #919191;
    &:hover {
      text-decoration: underline;
    }
  }
}
li {
  text-decoration: none;
  list-style: none;
}
.product_img {
  max-width: 536px;
  width: 100%;
  min-height: 729px;
}

.product_info {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 347px;
  float: right;

  .product_price {
    margin-top: 117px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .product_price_new {
      margin-right: 29px;
      font-weight: 500;
      font-size: 40px;
      line-height: 110%;
      letter-spacing: 0.02em;
      color: #998e78;
    }
    .product_price_old {
      font-weight: 500;
      font-size: 30px;
      line-height: 110%;
      letter-spacing: 0.02em;
      text-decoration-line: line-through;
      color: #9c9c9c;
    }
  }
  .choose {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    margin-bottom: 34px;
  }
  .product_size {
    display: flex;
    flex-direction: row;
    gap: 14px;

    .product_size_element {
      padding: 9px 15px;
      border: 1px solid;
      color: #000000;
      font-weight: 500;
      font-size: 17px;
      line-height: 140%;
      letter-spacing: 0.02em;
      margin-bottom: 60px;
      text-transform: uppercase;
      &:hover {
        color: white;
        background-color: #000000;
        transition: 0.3s ease;
      }
    }
    .product_size_element_active {
      color: white;
      background-color: #000000;
    }
  }

  .product_color {
    display: flex;
    flex-direction: row;
    gap: 14px;
    margin-bottom: 60px;
    align-items: center;
    .product_color_element {
      width: 41px;
      height: 41px;
      border-radius: 50%;
      &:hover {
        border: 1px solid;
        transition: 0.3s;
      }
    }
    .product_color_element_active {
      border: 1px solid;
    }
  }

  .product_quantity {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .product_quantity_button {
    width: 100%;
    max-width: 268px;
    padding: 22px 50px;
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #6e9c9f;
    border: none;
    cursor: pointer;
  }
  .product_quantity_input {
    width: 100%;
    max-width: 68px;
    border: 1px solid #afafaf;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    outline: none;
  }
}

.any {
  font-weight: 500;
  font-size: 40px;
  line-height: 110%;
  margin-top: 130px;
  margin-bottom: 67px;
  letter-spacing: 0.02em;
  color: #000000;
}
.any_items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
}
