.basketBack {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 205px;
  margin-bottom: 72px;

  .delete {
    position: relative;
    cursor: pointer;
    &::before {
      position: absolute;
      top: 50%;
      transform: translate(50%);
      display: block;
      content: '';
      width: 12px;
      height: 1px;
      background-color: #000000;
      transform: rotate(45deg);
    }
    &::after {
      position: absolute;
      top: 50%;
      transform: translate(50%);
      display: block;
      content: '';
      width: 12px;
      height: 1px;
      background-color: #000000;
      transform: rotate(-45deg);
    }
  }
  .basket_item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    max-width: 350px;
  }
  .img {
    display: block;
    width: 136px;
    height: 205px;
    float: left;
    object-fit: cover;
  }
  .name {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
  }
  .price {
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
    padding-left: 60px;
    text-align: center;
    text-justify: center;
  }
  .count {
    font-weight: 500;
    transform: translate(10%);
    padding: 10px 20px;
    width: 100%;
    max-width: 68px;
    border: 1px solid #afafaf;
    letter-spacing: 0.02em;
    color: #000000;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    outline: none;
    justify-self: flex-start;
  }
  .sum {
    margin-right: 99px;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.02em;
    color: #000000;
    font-weight: 500;
  }
}
